@import 'reset';

* {
	box-sizing: border-box;
}

p, a{
	letter-spacing: 0.08em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #606060;
}

h2{
	font-size: 1.7em;
	color: #606060;
}

body {
	background: #fff;
	
}

.hero{
	
	&.homePage{
		@media screen and (max-width: 899px){
			background-image: url('../img/heroHomeMobile.jpg');
		}
		background-image: url('../img/heroHome.jpg');
	}

	&.storiesPage{
		@media screen and (max-width: 899px){
			background-image: url('../img/storiesHeroMobile.jpg');
		}
		background-image: url('../img/storiesHero.jpg');
	}

	&.donatePage{
		@media screen and (max-width: 899px){
			background-image: url('../img/donateHeroMobile.jpg');
		}
		background-image: url('../img/donateHero.jpg');
	}

	&.servePage{
		@media screen and (max-width: 899px){
			background-image: url('../img/serveHeroMobile.jpg');
		}
		background-image: url('../img/serveHero.jpg');

	}

	//not on home page only on other pages to get back to home
	&.servePage, &.storiesPage, &.donatePage{
		transition: .2s ease;

		.logoMark{
			
			@media screen and (max-width: 767px){
				display: none;
			}
			display: block;
			width: 10%;
			max-width: 85px;
			position: relative;

			img{
				position: absolute;
				left: 10px;
				top: -39px;
				@media screen and (min-width: 1024px){
					left: 45px;
				}
			}

			&:hover{
				animation: wiggle 0.5s infinite;
			}
		}
		
	}

	@media screen and (max-width: 899px){
		width: 100%;
		height: 90vw;
	}
	position: relative;
	background-repeat: no-repeat;
	height: 0;
	background-size: contain;
	width: 100%;
	@media screen and (max-width: 767px){
		padding-bottom: 60%;
	}
	@media screen and (min-width: 768px){
		padding-bottom: 56%;
	}

	.homeLogo{
		position: relative;
		
		img{
			&:first-child{
				@media screen and (max-width: 899px){
					display: none;
				}
			}

			&:last-child{
				@media screen and (min-width: 900px){
					display: none;
				}
			}
			padding-top: 17%;
			position: absolute;
			width: 37%;
			left: 29.5%;	
			
		}
		
	}

	nav{
		display: flex;
		
		> ul{ // top level navigation list
			transition: .2s ease-in-out;
			@media screen and (max-width: 767px){
				padding: 12px 0;
			}
			@media screen and (min-width: 768px){
				padding-left: 30px;

				// move li's over on other pages to make room for logomark
				&.notHome{
					padding-left: 120px;
				}
			}
			@media screen and (min-width: 1024px){
				&.notHome{
					padding-left: 160px;
				}
			}
			width: 100%;
			margin: 0 auto;
			background-color: rgba(0, 0, 0, 0.582);
			padding: 18px 0;
			top: 0;

			

			> li{ // top level navigation items
				transition: .2s ease-in;
				display: inline-block;
				&:hover{
					transform: translateY(-3px);
				}

				// drop down ------------------------------------------------------------------------
				//so when you hover over the 1st level LI, 
				// and the UL appears, and you move the mouse to the UL, 
				// you’re still technically hovering over the LI, since 
				// the LI is inside the UL
				&:hover {
					> ul {
						display: inline-block; // hover over parent item, show child list
					}
				}

				> ul { // second level navigation list
					display: none; // hidden by default
					position: absolute;

					> li { // second level navigation items
						transition: .2s ease-in;
						display: flex;
						position: relative;
						flex-direction: column;
						text-align: center;

						&:first-child{
							margin-top: 14px;
							border-bottom: 1px solid #fff;
						}

						&:nth-child(2){
							border-bottom: 1px solid #fff;
						}

						// only on other pages have border bottom under donate
						&.border{
							border-bottom: 1px solid #fff;
							
						}

						// hide dropdown home li when on tablet/desktop and use logo instead to take you home
						&.home{
							@media screen and (min-width: 768px){
								display: none;
							}
						}

						a{
							position: relative;
							background-color: #6aab35;
							padding: 12px 8px;

							&:hover{
								background-color: #000;
								color: #fff;
							}
						}
						
					}
				}
			

				a{
					@media screen and (max-width: 480px){
						font-size: 0.9em;
						padding: 0 16px;
					}
					@media screen and (min-width: 481px){
						padding: 0 15px;
					}
					@media screen and (min-width: 768px){
						padding-right: 45px;
					}
					color: #fff;
					text-transform: uppercase;
					font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
					letter-spacing: 0.09em;
					text-decoration: none;
					transition: .2s ease-in-out;

					&:hover{
						cursor: pointer;
						color: #6aab35;
					}
				}
			}

			
		}

		.donate{
			@media screen and (max-width: 499px){
				top: 40px;
				font-size: 0.9em;
				padding: 13px 18px;
			}
			position: fixed;
			right: 0px;
			z-index: 4;
			color: #fff;
			text-transform: uppercase;
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			letter-spacing: 0.06em;
			text-decoration: none;
			background-color: #6aab35;
			padding: 13px 18px;
			@media screen and (min-width: 768px){
				padding: 18.5px 18px;
			}

			&:hover{
				background-color: black;
				cursor: pointer;
			}

		}
	}
}


// for logomark on hover --- see way above
@keyframes wiggle {
	0% {transform:rotate(4deg);}
	50% {transform:rotate(-4deg);}
	100% {transform:rotate(4deg);}
}


// quote

.quote{
	position: relative;
	@media screen and (max-width: 900px){
		display: none;
	}
	display: flex;
	justify-content: center;
	margin: 9% 10% 0 55%;
	width: 40%;
	max-width: 400px;
	flex-direction: column;

	p{
		color: #fff;
		line-height: 1.4em;
		
		&:first-child{
			font-size: 1.8em;
			font-weight: bold;
			@media screen and (min-width: 1224px){
				font-size: 2.3em;
			}
		}
		&:last-child{
			font-size: 1.1em;
			white-space: nowrap;
			@media screen and (min-width: 1224px){
				font-size: 1.3em;
			}
		}
	}

	h2{
		font-weight: bold;
		font-family: 'Source Sans Pro', sans-serif;
		white-space: nowrap;
		position: absolute;
		top: 240px;
		color: #fff;
		text-shadow: 2px 2px #000;
		font-size: 2.3em;
		letter-spacing: 0.06em;
		@media screen and (min-width: 1224px){
			top: 320px;
		}
		@media screen and (min-width: 1440px){
			top: 380px;
			font-size: 3em;
		}
	}
}


.top{
	@media screen and (max-width: 899px){
		flex-direction: column;
		width: 90%;
		align-items: center;
		margin-bottom: 10%;
	}
	@media screen and (min-width: 900px){
		width: 92%;
		margin-bottom: 6%;
	}
	@media screen and (min-width: 1024px){
		width: 93%;
	}
	@media screen and (min-width: 1224px){
		width: 83%;
	}
	@media screen and (min-width: 1440px){
		width: 73%;
	}
	display: flex;
	margin: 0% auto;
	justify-content: space-between;
	flex-direction: row;
	

	.about{
		@media screen and (max-width: 899px){
			flex-direction: column;
			width: 90%;
			padding-bottom: 10%;
			max-width: 668px;
		}
		@media screen and (min-width: 900px){
			min-width: 220px;
			width: 25%;
		}
		@media screen and (min-width: 1024px){
			min-width: 279px;
			width: 30%;
		}
		@media screen and (min-width: 1224px){
			width: 32.720351%;
		}
		width: 26.72035139%;


		h1{
			font-size: 2em;
			margin-bottom: 10px;
			color: #606060;
			letter-spacing: 0.04em;
			@media screen and (min-width: 1366px){
				font-size: 2.6em;
			}
			
		}

		p{
			line-height: 1.6em;
			padding-bottom: 20px;
			@media screen and (min-width: 1366px){
				font-size: 1.1em;
			}
		}
	}

	.stories{
		@media screen and (max-width: 899px){
			flex-direction: column;
			width: 90%;
			max-width: 390px;
			text-align: center;
			margin-bottom: 14%;
			padding-bottom: 4%;
			padding: 0 20px;
		}
		padding: 0 30px;
		text-align: center;
		width: 30%;
		border: 1px solid #6aab35;

		h2{
			padding: 20px 0;
		}

		div{
			padding-bottom: 13px;
			img{
				display: flex;
				max-width: 340px;
				width: 100%;
				margin: 0 auto;
			}

			p{
				line-height: 1.5em;
				max-width: 342px;
				width: 100%;
				margin: 14px auto;
				padding-bottom: 20px;
			}
		}

		a{
			text-decoration: none;
			color: #606060;
			bottom: 20px;
			position: relative;
			font-weight: 600;
			
			&:hover{
				color: #6aab35;
				cursor: pointer;
			}
		}
	}

	.events{
		width:100%;
		background-color: #606060;

		@media screen and (max-width: 767px){
			max-width: 300px;
			width: 100%;
		}
		@media screen and (min-width: 768px){
			flex-direction: column;
			max-width: 300px;
			width: 100%;
		}

		h2{
			color: #fff;
			text-align: center;
			padding: 20px 0 0 0;
			letter-spacing: 0.03em;
		}

		span{
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;

			.box{
				margin-top: 30px;
				padding: 0px 18px;
				background-color: #706e6e;

				p{ // dates
					margin: 2px 4px;
					color: #fff;
					text-align: center;
					&:first-child{
						font-size: 1.4em;
					}
					&:last-child{
						font-size: 2.3em;
					}
				}
			}

			.eventTitle{
				margin-top: 29px;
				align-self: center;
				text-align: left;

				p{ // event and description
					color: #fff;
					font-family: 'Source Sans Pro', sans-serif;
					white-space: nowrap;
					

					&:first-child{
						text-transform: uppercase;
						font-weight: bold;
						font-size: 1.1em;
						padding-bottom: 10px;
					}

					&:last-child{
						
						font-size: 0.9em;
					}
				}
			}
		}

		a{
			display: flex;
    		letter-spacing: 0.04em;
			margin-top: 35px;
			text-align: center;
			color: #6aab35;
			text-decoration: none;
			justify-content: center;
			margin-bottom: 20px;
			font-weight: 600;

			&:hover{
				color: #fff;
			}
		}
	}
}

// ways to serve-------------------------------------

.waysToServe{
	display: flex;
	text-align: center;
	margin: 0 auto;
	flex-direction: column;
	margin-bottom: 10%;

	h2{
		padding-bottom: 20px;
	}

	.serve{
		margin: 0 auto;
		@media screen and (max-width: 899px){
			flex-direction: column;
			width: 90%;
			max-width: 500px;
		}
		@media screen and (min-width: 900px){
			flex-direction: row;
			display: flex;
			width: 93%;
		}
		@media screen and (min-width: 1224px){
			width: 83%;
			max-width: 1290px;
		}
		@media screen and (min-width: 1440px){
			width: 73%;
		}

		.giveTake{
			position: relative;
			background-image: url('../img/giveTake.jpg');
			background-repeat: no-repeat;
			height: 0;
			background-size: 100% auto;
			background-position: cover;
			width: 100%;
			padding-bottom: 100%;
			@media screen and (min-width: 900px){
				padding-bottom: 31%;
				margin-right: 10px;
			}
			@media screen and (min-width: 1024px){
				margin-right: 30px;
			}

		}

		.deliver{
			position: relative;
			background-image: url('../img/delivery.jpg');
			background-repeat: no-repeat;
			height: 0;
			background-size: 100% auto;
			background-position: cover;
			width: 100%;
			padding-bottom: 100%;
			@media screen and (min-width: 900px){
				padding-bottom: 31%;
				margin-right: 10px;
			}
			@media screen and (min-width: 1024px){
				margin-right: 30px;
			}
		}

		.meals{
			position: relative;
			background-image: url('../img/meals.jpg');
			background-repeat: no-repeat;
			height: 0;
			background-size: 100% auto;
			background-position: cover;
			width: 100%;
			padding-bottom: 100%;
			@media screen and (min-width: 900px){
				padding-bottom: 31%;
			}
		}

		h3{
			color: #fff;
			background-color: rgba(0, 0, 0, 0.682);
			padding: 10px 0;
			letter-spacing: 0.08em;
			font-weight: 500;
			position: absolute;
			z-index: 2;
			text-align: center;
			left: 50%;
			top: 36%;
			transform: translateX(-50%); 
			width: 95%;
			font-size: 1.4em;
			margin-top: 30px;
			@media screen and (min-width: 900px){
				top: 34%;
			}
		}
	
	}

}


// hide and show text when you click dot
.expandText, .expandText2, .expandText3{
	display: none;
	position: relative;
	

	&.showText, &.showText2, &.showText3{
		display: block;
		position: relative;

		p{
			
			position: absolute;
			z-index: 3;
			color: #fff;
			line-height: 2em;
			padding: 30px 35px;
			background-color: rgba(0, 0, 0, 0.882);
		}
	}
}


.dot{
	
	font-size: 2em;
	

	.dot1{
		z-index: 8;
		color: #fff;
		background-color: #457404;
		border-radius: 100%;
		padding: 0 10px 2px 10px;
		position: absolute;
		bottom: 55px;
		right: 30px;
		@media screen and (min-width: 900px){
			bottom: 25px;
		}
		@media screen and (min-width: 1024px){
			bottom: 33px;
			right: 20px;
		}
		&:hover{
			background-color: rgba(0, 0, 0, 0.582);
		}
		
	}

	.dot2{
		z-index: 8;
		color: #fff;
		background-color: #69ad09;
		border-radius: 100%;
		padding: 0 10px 2px 10px;
		position: absolute;
		bottom: 55px;
		right: 30px;
		@media screen and (min-width: 900px){
			bottom: 25px;
		}
		@media screen and (min-width: 1024px){
			bottom: 33px;
			right: 20px;
		}
		&:hover{
			background-color: rgba(0, 0, 0, 0.582);
		}
	}
	.dot3{
		z-index: 8;
		color: #fff;
		background-color: #9ac55e;
		border-radius: 100%;
		padding: 0 10px 2px 10px;
		position: absolute;
		bottom: 55px;
		right: 30px;
		@media screen and (min-width: 900px){
			bottom: 25px;
		}
		@media screen and (min-width: 1024px){
			bottom: 33px;
			right: 20px;
		}
		&:hover{
			background-color: rgba(0, 0, 0, 0.582);
		}
	}
	
}


.mission-vision-purpose{
	margin: 19% auto;
	line-height: 1.6em;
	padding-bottom: 10%;

	@media screen and (max-width: 899px){
		width: 90%;
		max-width: 502px;
	}
	@media screen and (min-width: 900px){
		width: 93%;
		border: none;
		margin: 7% auto;
		padding-bottom: 10%;
	}
	@media screen and (min-width: 1024px){
		width: 93%;
		margin: 5% auto;
		padding-bottom: 9%;
	}
	@media screen and (min-width: 1224px){
		width: 83%;
		padding-bottom: 0%;
		margin: 10% auto;
	}
	@media screen and (min-width: 1440px){
		width: 73%;
	}

	.mission, .vision, .purpose{

		div{
			padding: 33% 0;
			position: relative;
			margin: 32% 0;
			@media screen and (min-width: 1224px){
				margin: 27% 0;
			}

			h2{
				margin-top: 46px;
				position: absolute;
				padding-top: 36px;
				left: 20px;
				@media screen and (min-width: 900px){
					left: 30px;
				}
			}
			
			p{
				background-color: #f6f3f2;
				padding: 59px 20px 20px 20px;
			}
		}
	}

	.mission{
		background-image: url('../img/mission.png');
		background-repeat: no-repeat;
		height: 0;
		background-size: 100% auto;
		background-position: cover;
		width: 100%;
		padding-bottom: 102%;
		@media screen and (min-width: 460px){
			padding-bottom: 80%;
		}
		@media screen and (min-width: 547px){
			padding-bottom: 48%;
		}
		@media screen and (min-width: 900px){
			width: 90%;
			padding-bottom: 38%;
		}
		@media screen and (min-width: 1024px){
			padding-bottom: 47%;
		}
		

		div{
			padding: 89px 0;
			@media screen and (min-width: 900px){
				padding: 10px;
				margin-top: 200px;
				width: 100%;
				right: 30px;
				position: absolute;
				max-width: 601px;
			}
			@media screen and (min-width: 1024px){
				margin-top: 250px;
				right: 34px;
				max-width: 581px;
			}
			@media screen and (min-width: 1224px){
				right: 100px;
				margin-top: 290px;
				max-width: 560px;
			}
			@media screen and (min-width: 1440px){
				right: 188px;
				margin-top: 320px;
				max-width: 523px;
			}
			@media screen and (min-width: 1500px){
				right: 196px;
				max-width: 519px;
			}

			h2{
				color: #457404;
			}
			
			p{
				border-bottom: 4px solid #457404;
				border-right: 4px solid #457404;
				margin-top: 60px;
			}
		}
		
	}

	.vision{
		background-image: url('../img/vision.png');
		background-repeat: no-repeat;
		height: 0;
		background-size: 100% auto;
		background-position: cover;
		width: 100%;
		padding-bottom: 78%;

		@media screen and (min-width: 547px){
			padding-bottom: 84%;
		}
		@media screen and (min-width: 900px){
			width: 90%;
			padding-bottom: 60%;
			right: 0;
			margin-left: 78px;
			margin-top: 200px;
		}
		@media screen and (min-width: 1024px){
			margin-top: 175px;
			margin-left: 92px;
			padding-bottom: 61%;
		}
		@media screen and (min-width: 1224px){
			margin-left: 97px;
		}
		@media screen and (min-width: 1440px){
			margin-left: 103px;
		}

		div{
			@media screen and (min-width: 547px){
				margin: 192px 0;
			}
			@media screen and (min-width: 900px){
				padding: 10px;
				margin-top: 80px;
				width: 100%;
				left: 40px;
				position: absolute;
				padding: 89px 0;
				max-width: 444px;
			}
			@media screen and (min-width: 1024px){
				margin-top: 125px;
				left: 40px;
				max-width: 505px;
			}
			@media screen and (min-width: 1224px){
				margin-top: 140px;
				left: 110px;
			}
			@media screen and (min-width: 1440px){
				left: 200px;
			}
			@media screen and (min-width: 1500px){
				left: 206px;
			}

			h2{
				color: #69ad09;
				left: 23px;
			}
	
			p{
				border-bottom: 4px solid #69ad09;
				border-left: 4px solid #69ad09;
				margin-top: 60px;
			}
		}
		
	}

	.purpose{
		background-image: url('../img/purpose.png');
		background-repeat: no-repeat;
		height: 0;
		background-size: 100% auto;
		background-position: cover;
		width: 100%;
		padding-bottom: 47%;

		@media screen and (min-width: 900px){
			width: 90%;
			padding-bottom: 42%;
			right: 0;
		}

		div{
			margin: 105px 0;
			@media screen and (min-width: 547px){
				margin: 20px 0;
			}
			@media screen and (min-width: 900px){
				padding: 10px;
				margin-top: 160px;
				width: 100%;
				right: 31px;
				position: absolute;
				max-width: 404px;
			}
			@media screen and (min-width: 1024px){
				right: 32px;
				max-width: 384px;
			}
			@media screen and (min-width: 1224px){
				right: 100px;
				max-width: 364px;
			}
			@media screen and (min-width: 1440px){
				right: 187px;
				margin-top: 198px;
				max-width: 345px;
			}
			@media screen and (min-width: 1500px){
				max-width: 339px;
				right: 200px;
			}

			h2{
				color: #a2bb80;
				margin-top: 30px;
				left: 23px;
				@media screen and (min-width: 900px){
					left: 28px;
				}
			}

			p{
				border-bottom: 4px solid #a2bb80;
				border-right: 4px solid #a2bb80;
				margin-top: 40px;
			}
		}

		
	}
}


.sponsors{
	margin: 0 auto;
	padding-bottom: 13%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	@media screen and (max-width: 547px){
		width: 90%;
		padding-top: 19%;
		padding-bottom: 19%;
	}
	@media screen and (min-width: 548px){
		width: 80%;
	}
	@media screen and (min-width: 900px){
		width: 93%;
	}
	@media screen and (min-width: 1024px){
		padding-bottom: 10%;
	}
	@media screen and (min-width: 1224px){
		width: 83%;
		padding-bottom: 5%;
	}
	@media screen and (min-width: 1440px){
		width: 73%;
	}

	h2{
		text-align: center;
		padding-bottom: 20px;
	}

	.logos{
		@media screen and (max-width: 899px){
			background-image: url('../img/scale.png');
			padding-bottom: 110%;
		}
		@media screen and (min-width: 900px){
			background-image: url('../img/scale2.png');
		}
		
		background-repeat: no-repeat;
		height: 0;
		background-size: 100% auto;
		background-position: cover;
		width: 100%;
		padding-bottom: 40%;
		
	}
}




/* TABS ---------------------------------------------------*/


.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;

	li { /* tab names */
		width: 100%;
        cursor: pointer;
        flex-grow: 1;
        text-align: center;
        padding-top: 10px;
        height: 120px;
        line-height: 31px;
        white-space: nowrap;
        border-right: 1px solid #fff;
        background-color: #666965;
        color: #fff;
        overflow: hidden;
        position: relative;
        background-repeat: no-repeat; /* icons on each tab */
        background-position: center; /* icons on each tab */
        background-position: 50% 70%; /* icons on each tab */

        &:hover{ /* hover over tabs */
            background-color: #8dc440;
            color: #fff;
            transition: 0.5s ease;
        }
    }

}



.tabs {

	/* active tab */
    li.active { 
		color: #fff;
    }

    /* donate icon */
    :first-child{ 
		background-image: url('../img/donate.png');
		background-color: #65aa05;
    }

    /* volunteer icon */
    :nth-child(2){ 
		background-image: url('../img/volunteer.png');
		background-color: #7bb728;
    }

    /* shop icon */
    :nth-child(3){
		background-image: url('../img/shop.png');
		background-color: #91c24c;
    }

    /* subscribe icon */
    :nth-child(4){
		background-image: url('../img/subscribe.png');
		background-color: #a7ce70;
    }

    /* help icon */
    :nth-child(5){
        background-image: url('../img/seek-help.png');
		border-right: none;
		background-color: #bdda93;
	}
	
}


/* tab content container */
.tab_container {
    width: 100%;
    background: #457404;
    overflow: hidden;
    @media screen and (max-width: 480px){
        border-bottom: 2px solid #666965;
	}
	
	/* tab content */
	.tab_content {
		text-align: center;
		color: #fff;
		display: none; /* hide content unless clicked active*/

		@media screen and (max-width: 767px){
			padding: 10% 0;
		}
		@media screen and (min-width: 768px){
			padding: 4% 0;
		}


		/* tab h2 */
		h2{
			@media screen and (max-width: 481px){
				color: #606060;
				padding-top: 100px;
			}
			font-size: 2em;
			padding-top: 30px;
			padding-bottom: 29px;
			color: #fff;
			
		}

		p{
			@media screen and (max-width: 481px){
				color: #606060;
			}
			
			padding-bottom: 15px;
			color: #fff;
			line-height: 1.4em;
			@media screen and (max-width: 899px){
				max-width: 332px;
				width: 100%;
				margin: 0 auto;
			}

			em{
				font-style: italic;
				font-weight: bold;
			}
		}

		/* donate $$ amount div row */
		.amounts{
			display: flex;
			flex-direction: row;
			justify-content: center;

			label{ /* donate $$$ amounts label position */
				margin-top: 3px;
				padding-right: 19px;
				@media screen and (max-width: 481px){
					color: #666965;
				}
			}
		}
	}
}


/* hide inside tab heading unless active/clicked */
.tab_drawer_heading { 
    display: none; 
}

/* button for each content tabs*/
.button-tabs{
    color: #fff;
    margin: 40px auto;
	width: 190px;
	transition: .2s ease-in-out;
	border: 3px solid #666965;
	@media screen and (min-width: 482px){
		border: 3px solid #fff;
	}

	a{
		padding: 20px;
		@media screen and (max-width: 481px){
			color: #666965;
		}
		text-decoration: none;
		color: #fff;
		

		/* button h1 */
		h1{
			@media screen and (max-width: 481px){
				padding: 3px 0;
			}
			
		}

	}

	/* hover donate btn */
	&:hover{
		background-color: #8dc440;

		a{
			color: #fff;
		}
		@media screen and (min-width: 482px){
			background-color: #666965;
		}
	}
}


/* shop etsy img desktop*/
#tab3 img{
    width: 50%;
    border: none;
}

/* input donate amount */
#tab1 input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    width: 89px;
}

/* input donate text color */
#tab1 input{
    font-size: 0.8em;
	color: #fff;
}

/* input subscribe email newsletter*/
#tab4 input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 3px solid #fff;
    margin-top: 50px;
    width: 300px;
    &::placeholder{
		
        @media screen and (min-width: 481px){
            color: #fff;
        }
    }
}

 /* subscribe and volunteer input text color */
#tab4 input, #tab2 input{
    font-size: 1em;
    color: #fff;
}

/* input volunteer  */
#tab2 input[type=text] {
    margin-top: 14px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    width: 300px;
    &::placeholder{
        @media screen and (min-width: 481px){
            color: #fff;
        }
    }
}

/* when mobile, stack tabs up and down, hide left to right*/
@media screen and (max-width: 481px) {
    
    /* hide horizontal tabs*/
    .tabs {
        display: none;
    }

    .tab_drawer_heading {
        background-color: #8dc440;
        color: #fff;
        border-top: 1px solid #fff;
        margin: 0;
        padding: 14px 20px;
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
		text-align: center;
    }

    /* active */
    .d_active {
        background-color: #666965;
        color: #fff;
        text-align: center;
    }

    .tab_container{
         margin: 0;
         background-color: #fff;
    }

    .tab_content{
        color: #666965;
        margin-top: -80px;
    }


    /* donate $$$ amounts label position */
    .tab_content div.amounts label{
        padding-right: 8px;
    }

    /* shop etsy img */
    #tab3 img{
        width: 100%;
	}
	
	

    /* input subscribe email newsletter*/
    #tab4 input[type=text],
    #tab1 input[type=text],
    #tab2 input[type=text] {
        border-bottom: 3px solid #666965;
    }

    /* input text color */
    #tab4 input, #tab1 input, #tab2 input{
        color: #666965;
    }

}

// footer -------------------------------------------------


footer{
	text-align: center;
	background-image: url('../img/footer.png');
	background-position: center;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;

	.footer-container{
		
		@media screen and (max-width: 860px){
			flex-direction: column;
			justify-content: center;
			width: 80%;
			margin: 0 auto;
			padding: 30px 0;
		}
		@media screen and (min-width: 861px){
			padding: 60px 0;
			display: flex;
			margin: 0% auto;
			justify-content: space-between;
			flex-direction: row;
			width: 84%;
		}	
		@media screen and (min-width: 1024px){
			width: 75%;
			padding: 65px 0;
		}
		@media screen and (min-width: 1224px){
			width: 70%;
			padding: 70px 0;
		}
		@media screen and (min-width: 1440px){
			width: 60%;
			padding: 80px 0;
			
		}

		p, h3{
			color: #fff;
			text-shadow: 2px 2px #000;
		}

		h3{
			font-size: 1.4em;
			letter-spacing: 0.06em;
			padding-bottom: 10px;
		}

		p{
			line-height: 1.4em;
		}

		.call-hours{
			@media screen and (max-width: 860px){
				padding: 60px 0;
			}

			.social{
				h3{
					margin-top: 50px;
				}
				a, em{
					color: #fff;
					text-decoration: none;
					padding: 0 4px;
					font-size: 1.2em;
					&:hover{
						
						color: #8dc440;
					}

				}
			}
		}

		.email{
			display: flex;
			flex-direction: column;
			@media screen and (max-width: 860px){
				margin: 20px 0;
				padding-bottom: 60px;
				padding-top: 30px;
			}
			
			a{
				color: #fff;
				text-decoration: none;
				padding: 10px 0;
				&:hover{
					color: #8dc440;
				}
			}
		}

	}
	
}




.serveSection{
	display: flex;
	justify-content: center;
	margin: 10% auto;

	.sign-up{
		margin: 0 auto;
		width: 80%;
		max-width: 455px;
		margin-bottom: 10%;
		border: 2px solid #000;
		@media screen and (min-width: 768px){
			width: 100%;
			max-width: 455px;
			margin-bottom: 6%;
		}
		@media screen and (min-width: 1024px){
			flex-direction: row;
			display: flex;
			max-width: 700px;
			margin-bottom: 0%;
			margin-top: -60px;
		}
		@media screen and (min-width: 1224px){
			max-width: 850px;
			margin-top: -80px;
		}

		.volunteerImg{
			background-image: url('../img/volunteerSignUp.png');
			height: 0;
			padding-bottom: 70%;
			width: 100%;
			background-size: 100% auto;
			background-repeat: no-repeat;
			@media screen and (min-width: 1024px){
				padding-bottom: 45%;
			}
			
		}

		div{
			display: flex;
			flex-direction: column;
			align-items: center;

			h3{
				font-size: 1.7em;
				padding: 8% 0;
				white-space: nowrap;
				@media screen and (min-width: 1224px){
					padding: 12% 0;
				}
			}

			input{
				padding: 10px 30px;
				margin: 10px 0;
				@media screen and (min-width: 1024px){
					margin: 10px 18px;
				}
				@media screen and (min-width: 1224px){
					margin: 10px 38px;
				}
			}

			a{
				white-space: nowrap;
				text-decoration: none;
				border: 1px solid #000;
				justify-content: center;
				padding: 4% 7%;
				align-items: center;
				text-align: center;
				margin: 30px 0;
				@media screen and (min-width: 1024px){
					padding: 5% 17%;	
					margin: 18px 0 0 0;
				}
				&:hover{
					background-color: #65aa05;
					color: #fff;
					border: none;
					
				}
				
	
			}
		}
	}
}